page-home,
.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }

    ion-marquee {
      .ion-marquee {
        margin: 5px;
      }
  }
  
    ion-datetime {
      padding-left: 0;
    }

    ion-scroll {
      ion-row,
      .scrollView {
        padding-left: 10;
      }     
    }
  }
}
