<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Surplus</ion-title>
  </ion-navbar>

  <ion-toolbar *ngIf="user.bisTypeId == 2">
    <ion-segment [(ngModel)]="statusChange" color="light">
      <ion-segment-button value="currunt">
        Currunt &nbsp;
      </ion-segment-button>
      <ion-segment-button value="old">
        Old &nbsp;<span
          style="color: white; padding: 5px; background-color: red; margin-top: -8px; border-radius: 5px;">{{oldCnt}}</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div [ngSwitch]="statusChange">
    <ion-grid *ngSwitchCase="'currunt'" style="height: 500px;">
      <ion-row>
        <ion-col (click)="addVegiSurplus()">
          <button ion-button full color="secondary" [disabled]="surplusCnt > 0">
            VEGITABLE SURPLUS
          </button>
        </ion-col>
      </ion-row>

      <ion-content padding>
        <ion-card *ngFor="let itm of  surplusDetails">
          <ion-card-content>
            <ion-row>
              <ion-col col-7>
                <h2 style="margin: 7px" text-left>{{itm.productName}}</h2>
                <div class="itm-footer">
                  <span class="price">
                    Kilos: {{itm.qty}} kg
                  </span>
                </div>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-avatar>
                    <img style="float: right" src="{{itm.thumb}}">
                  </ion-avatar>
                </ion-item>
              </ion-col>

            </ion-row>
          </ion-card-content>
        </ion-card>


        <ion-grid>
          <ion-row>
            <ion-col text-right>
              <button round=true ion-button full color="danger" (click)="rejectOrder()">
                Finish
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-grid>

    <ion-grid *ngSwitchCase="'old'" style="height: 500px;">
      <ion-card *ngFor="let order of rejectOrders" width-50 (click)="showDetails(order)">
        <ion-card-content>
          <p style="float: left;">
            <span style="font-weight: bold;">Order Ref :</span>{{order.orderRef}}
          </p>
          <br>
          <p style="float: right;">
            <span style="font-weight: bold;">Order Qty :</span>{{order.totalCount}}
          </p>
          <br>
          <p style="float: left;">
            <span style="font-weight: bold;">Vendor Name :</span>{{order.userName}}
          </p>
          <br>
          <br>
          <p style="float: right;">
            <span style="font-weight: bold;">Vendor Mobile :</span>{{order.mobile}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </div>
</ion-content>